<div id="<%= dom_id tweet %>">

  <div class="user-details">
  <p>
    <% if tweet.user.avatar.present? %>
      <%= image_tag tweet.user.avatar.url, alt: "User Avatar", class: "rounded-circle" %>
    <% else %>
      <img src="<%= gravatar_url(tweet.user.email) %>" alt="User Avatar" class="rounded-circle">
    <% end %>
    <strong><%= tweet.user.username %> | <%= time_ago_in_words(tweet.created_at) %> ago</strong>
  </p>

  <p>
    <strong>Body:</strong>
    <%= tweet.body %>
  </p>

  </div>

</div>
