<main class="form-signin w-100 m-auto">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <i class="bi bi-twitter fs-1"></i>
    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

    <div class="field form-floating">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "name@example.com"%>
      <%= f.label :email, "Email address" %>
    </div>

    <div class="form-floating">
      <%# <input type="password" class="form-control" id="floatingPassword" placeholder="Password"> %>
      <%= f.password_field :password, autocomplete: "current-password", class: "form-control", placeholder: "Password" %>
      <%= f.label :password %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field form-check text-start my-3">
        <%= f.check_box :remember_me, class: "form-check-input" %>
        <%= f.label :remember_me, class: "form-check-label" %>
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit "Log in", class: "btn btn-primary w-100 py-2" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>

  </form>
</main>

