<!DOCTYPE html>
<html data-bs-theme="dark">
  <head>
    <title>Tweeter</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

  </head>

  <body class="container main bg-dark text-light d-flex h-100">
    <%= render "layouts/header" %>
    <main class="w-100">
      <div class="row h-100">
        <div class="col-7 main-content">
          <div class="px-3 pt-2">
          <%= render "layouts/alert_message" %>
          <%= yield %>
          </div>
        </div>
        <div class="col-5">
          <div class="widgets ps-2 pe-4 pt-2">
            <% if user_signed_in? %>
              <%= render "shared/search" %>
            <% else %>
              <%= render "shared/cta_right" %>
            <% end %>

            <%= render "layouts/footer" %>
          </div>
        </div>
      </div>
    </main>
    <%= render "shared/cta_bottom" %>
  </body>
</html>
